<!DOCTYPE html>
<html>
<head>
    <title>STREAMS</title>
    <link href="{{STATIC_URL}}css/base/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{STATIC_URL}}css/common.css" rel="stylesheet" type="text/css"/>

    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.0.js"></script>

    <script>
        $(window).scroll(function() {
            var y_scroll_pos = window.pageYOffset;
            var scroll_pos_test = window.innerHeight;             // set to whatever you want it to be

            if(y_scroll_pos > scroll_pos_test/2) {
                //do stuff
                //call streams.js ->get_next_feed_entry to get the next item in the current feed

            }
        });

    </script>

</head>
<body>
{#navigation bar#}
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand title" href="#">Streams</a>
{#        <i class="icon-plus-sign"></i>#}
{#        <form class="navbar-search pull-left">#}
{#            <input type="text"  placeholder="Search">#}
{##}
{#        </form>#}
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 side_bar">
            <div>
                <form id="frm_new_feed" class="form-inline" action="/reader/addfeed/" method="post">
                    <input id="id_newfeedurl" name="newfeedurl" type="text" class="input-medium" placeholder="new feed">
                    <button type="submit" class="btn btn-info">Add</button>
                </form>
            </div>

            <ul class="nav nav-list">
                <li class="nav-header"><h2>My Feeds</h2></li>
                {% for feed in feeds%}
                    <li ><a href='/reader/feeds/{{feed.id}}/'>{{feed.feed_name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="span8">
            <div class="feed-list">
                {% block contents %}
                {% endblock %}
            </div>

        </div>

        <div class="span2">
            <div id="summary" class="title_summary">
                {% block summary_list %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script>
    $("img").after("<br>");
    $("li").after("<br>");
</script>
</body>
</html>